In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
clinic=pd.read_csv('clinic.csv')                      #Read volunteers + patients data
clinic.loc[clinic['mstype'] == -1, 'mstype'] ='HV'    #Change number MS group representation by letters
clinic.loc[clinic['mstype'] == 0, 'mstype'] ='RRMS'
clinic.loc[clinic['mstype'] == 1, 'mstype'] ='PPMS'
clinic.loc[clinic['mstype'] == 2, 'mstype'] ='SPMS'
clinic.loc[clinic['sex'] == 0, 'sex'] ='Female'       #Change sex code for string
clinic.loc[clinic['sex'] == 1, 'sex'] ='Male'
#clinic.groupby(['mstype','sex']).count()

## Mean:
### Age, sex and edss by group

In [3]:
clinic=clinic.drop(columns=['dd','id','redcap_event_name','controls_ms','dob','msonset','nrldate','dmd','uGMSSS','oGMSSS','sdmt','sdmtz','pasat','zpasat','zverbalmemory','zvisualmemory','zattention','zfluency','zglobal','FA','GM','RF'])
clinic.groupby('mstype').mean().drop(columns='Unnamed: 0')

              age      edss
mstype
HV      36.617906  0.000000
PPMS    56.819375  5.812500
RRMS    45.664800  2.112000
SPMS    56.720000  5.666667

## Standard deviation:
### Age, sex and edss by group

In [4]:
clinic.groupby('mstype').std().drop(columns='Unnamed: 0')

             age      edss
mstype
HV      9.602639  0.000000
PPMS    9.953088  0.928709
RRMS    9.482759  1.099604
SPMS    3.852469  1.080123

## Sex count

In [5]:
clinic.groupby(['mstype','sex']).count().drop(columns=['age','edss'])

               Unnamed: 0
mstype sex
HV     Female          15
       Male             3
PPMS   Female          10
       Male             6
RRMS   Female          90
       Male            35
SPMS   Female           4
       Male             2

## Total data per group

In [6]:
clinic.groupby('mstype').count().drop(columns=['age','sex','edss'])

        Unnamed: 0
mstype
HV              18
PPMS            16
RRMS           125
SPMS             6

## Dataset Resume

In [7]:
resultats=pd.DataFrame(columns=['MS type','Number', 'Age, Years', 'Females, n(%)', 'EDSS'])
resultats.loc[0] = pd.Series({'MS type':'Healthy volunteers', 'Number':'18','Age, Years':'36.62±9.60', 'Females, n(%)':'15(83,33)',  'EDSS':'--'})
resultats.loc[1] = pd.Series({'MS type':'RRMS','Number':'125', 'Age, Years':'45.66±9.48', 'Females, n(%)':'90(72,00)',  'EDSS':'2.11±1.10'})
resultats.loc[2] = pd.Series({'MS type':'SPMS', 'Number':'16','Age, Years':'56.82±9.95', 'Females, n(%)':'10(62,50)',  'EDSS':'5.81±0,93'})
resultats.loc[3] = pd.Series({'MS type':'PPMS', 'Number':'6','Age, Years':'56.72±3.85', 'Females, n(%)':'4(66,66)',  'EDSS':'5.66±1.08'})

resultats.set_index('MS type')

                   Number  Age, Years Females, n(%)       EDSS
MS type
Healthy volunteers     18  36.62±9.60     15(83,33)         --
RRMS                  125  45.66±9.48     90(72,00)  2.11±1.10
SPMS                   16  56.82±9.95     10(62,50)  5.81±0,93
PPMS                    6  56.72±3.85      4(66,66)  5.66±1.08